on:
  pull_request:
    branches: [ main ]

name: Build and Test PullRequest

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Test
        run: go test ./...
